{% extends 'base.html' %}
{% load static %}
{% block title %}
Suchana's Contact
{% endblock title %}
{% block content %}
 
 />
    <!-- Main Section -->
    <div class="container">
      <h3 class="heading font-weight-light">Here are your contacts</h3>
      <hr />
    </div>
    <div class="container main-part">
      <!-- Card for details -->
      <div class="card my-2 mx-2 boy-card">
        <img src="{% static './images/boy.png' %} " class="img-fluid" />
        <div class="card-header">
          <a href="detail.html" class="text-white header-link"
            ><i class="fas fa-mars mr-2"></i> Mr Perfect</a
          >
        </div>
        <div class="card-body pb-0">
          <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:mrperfect@gmail.com">mrperfect@gmail.com</a>
          </p>
          <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:xxxxxxxxxxx">xxxxxxxxxxx</a>
          </p>
          <p><i class="fas fa-info-circle mr-2"></i> Friend</p>
        </div>
      </div>
      <!-- Card for details ends -->

      <div class="card my-2 mx-2 girl-card">
        <img src=" {% static './images/girl.png'  %}" class="img-fluid" />
        <div class="card-header">
          <a href="detail.html" class="text-white header-link"
            ><i class="fas fa-venus mr-2"></i> K Suchana </a
          >
        </div>
        <div class="card-body pb-0">
          <p>
            <i class="fas fa-at mr-2"></i>
            <a href="mailto:ksuchana97@gmail.com">ksuchana97@gmail.com</a>
          </p>
          <p>
            <i class="fas fa-phone mr-2"></i>
            <a href="tel:01793625781">01793625781</a>
          </p>
          <p><i class="fas fa-info-circle mr-2"></i> Myself </p>
        </div>
      </div>
    </div>
    <!-- Main Section ends-->
{% endblock content %}